These are the SQL questions practiced from SQL Practice.com on Hospital dataset (easy question set)

Q.1 
Show first name, last name, and gender of patients whose gender is 'M'   

ANS  
SELECT first_name, last_name, gender  
from patients  
where gender = 'M'

Q.2 Show first name and last name of patients who does not have allergies. (null)  

ANS  
SELECT first_name, last_name  

from patient  

where allergies is null;

Q.3 Show first name of patients that start with the letter 'C'  

ANS  
SELECT first_name  
from patient  
where first_name like 'c%'

Q.4 Show first name and last name of patients that weight within the range of 100 to 120 (inclusive)  

ANS  
SELECT first_name, last_name  
from patients  
where weight between 100 and 120

Q.5 Update the patients table for the allergies column. If the patient's allergies is null then replace it with 'NKA'  

ANS  
update patients   
set allergies = 'NKA  
where allergies is null

Q.6 Show first name and last name concatinated into one column to show their full name.  

ANS  
SELECT CONCAT(first_name, ' ', last_name) AS full_name  
FROM patients;

Q.7 Show first name, last name, and the full province name of each patient.  

Example: 'Ontario' instead of 'O  

ANS  
SELECT p.first_name, p.last_name, pr.province_name  

from patients   

join province_names   
r
on p.province_id =pr.province_idN'

Q.8 Show how many patients have a birth_date with 2010 as the birth year.  

ANS  
SELECT count (*)  

from patient  

where year(birth_date) = 200

Q.9 Show the first_name, last_name, and height of the patient with the greatest height.  

ANS  
SELECT first_name, last_name, max(height)  

from patients

Q.10 Show all columns for patients who have one of the following patient_ids:  

1,45,534,879,100  

ANS  
select *  

from patient  

where patient_id in (1,45,534,879,1000)0

Q.11 Show the total number of admissions.  

ANS  
select count (*)  

from admissions

Q.12 Show all the columns from admissions where the patient was admitted and discharged on the same day.  

ANS  
select *  

from admission  

where admission_date = discharge_date

Q.13 Show the patient id and the total number of admissions for patient_id 579.  

ANS  
select patient_id, count(patient_id) as total_admissions  

from admission  

where patient_id = 5  
9
group by patient_id

Q.14 Based on the cities that our patients live in, show unique cities that are in province_id 'NS'.  

ANS  
select distinct (city)  

from patient  

where province_id = 'NS'

Q.15 Write a query to find the first_name, last name and birth date of patients who has height greater than 160 and weight greater than 70  

ANS  
select first_name, last_name, birth_date  
from patients  
where height > 160 and weight > 70

Q.16 Write a query to find list of patients first_name, last_name, and allergies where allergies are not null and are from the city of 'Hamilton'  

ANS  
select first_name, last_name, allergies  

from patient  

where allergies is not null and city = 'Hamilton'