Q.1 Show all of the patients grouped into weight groups.  
Show the total amount of patients in each weight group.  
Order the list by the weight group decending.  
  
For example, if they weight 100 to 109 they are placed in the 100 weight group, 110-119 = 110 weight group, etc.


ANS  
SELECT  
FLOOR(weight / 10) * 10 AS weight_group,  
COUNT(*) AS patients_in_group  
FROM patients  
GROUP BY weight_group  
ORDER BY weight_group DESC

Q.2 Show patient_id, weight, height, isObese from the patients table.  
  
Display isObese as a boolean 0 or 1.  
  
Obese is defined as weight(kg)/(height(m)2) >= 30.  
  
weight is in units kg.  
  
height is in units cm.


ANS  
SELECT patient_id, weight, height,  
CASE WHEN (weight / ((height / 100.0) * (height / 100.0))) >= 30 THEN 1 ELSE 0  
END AS isObese  
FROM patients;

Q.3 Show patient_id, first_name, last_name, and attending doctor's specialty.  
Show only the patients who has a diagnosis as 'Epilepsy' and the doctor's first name is 'Lisa'  
Check patients, admissions, and doctors tables for required information.  

ANS  
select p.patient_id, p.first_name, p.last_name, d.specialty  
from patients p  
join admissions a  
on p.patient_id = a.patient_id  
join doctors d  
on a.attending_doctor_id = d.doctor_id  
where a.diagnosis = 'Epilepsy' and d.first_name = 'Lisa'

Q.4 All patients who have gone through admissions, can see their medical documents on our site. Those patients are given a temporary password after their first admission. Show the patient_id and temp_password.  
  
The password must be the following, in order:  
1. patient_id
2. the numerical length of patient's last_name
3. year of patient's birth_date

ANS  
select p.patient_id, concat(p.patient_id,length(p.last_name),year(p.birth_date)) as temp_password  
from patients p  
inner join admissions a  
on p.patient_id = a.patient_id  
group by p.patient_id

Q.5 Each admission costs $50 for patients without insurance, and $10 for patients with insurance. All patients with an even patient_id have insurance.  
  
Give each patient a 'Yes' if they have insurance, and a 'No' if they don't have insurance. Add up the admission_total cost for each has_insurance group.  

ANS  
SELECT  
CASE WHEN patient_id % 2 = 0 THEN 'Yes'  
ELSE 'No'  
END AS has_insurance,  
SUM( CASE WHEN patient_id % 2 = 0 THEN 10  
ELSE 50  
END ) AS total_cost  
FROM admissions  
GROUP BY has_insurance;

Q.6 Show the provinces that has more patients identified as 'M' than 'F'. Must only show full province_name  

ANS  
select pr.province_name  
from province_names pr  
join patients p   
on pr.province_id =p.province_id  
group by pr.province_name  
having  
sum (case when p.gender = 'M' then 1 else 0 end) >  
sum(case when p.gender = 'F' then 1 else 0 end)

Q.7 
We are looking for a specific patient. Pull all columns for the patient who matches the following criteria:  
- First_name contains an 'r' after the first two letters.  
- Identifies their gender as 'F'  
- Born in February, May, or December  
- Their weight would be between 60kg and 80kg  
- Their patient_id is an odd number  
- They are from the city 'Kingston'

ANS  
select *  
from patients  
where (first_name LIKE '__%r%')  
and  
gender = 'F'  
and  
month(birth_date) in (2,5,12)  
and  
weight between 60 and 80  
and  
patient_id %2 <> 0  
and  
city = 'Kingston'

Q.8 Show the percent of patients that have 'M' as their gender. Round the answer to the nearest hundreth number and in percent form.  
  
ANS  
SELECT  
concat(ROUND((SUM(CASE WHEN gender = 'M' THEN 1 ELSE 0 END) * 100.0) / COUNT(*), 2), '%') AS percentage_of_male_patients  
FROM patients

Q.9 For each day display the total amount of admissions on that day. Display the amount changed from the previous date.  

ANS  
select admission_date,  
count(admission_date) as admission_day,  
count(admission_date) - LAG(COUNT(*)) OVER (ORDER BY admission_date) AS admission_count_change  
from admissions  
group by admission_date

Q.10 Sort the province names in ascending order in such a way that the province 'Ontario' is always on top.  

ANS  
select province_name  
from province_names  
order by  
case when province_name = 'Ontario' then 0  
else 1  
end,  
province_name

Q.11 We need a breakdown for the total amount of admissions each doctor has started each year. Show the doctor_id, doctor_full_name, specialty, year, total_admissions for that year.  

ANS  
Select d.doctor_id,  

concat(d.first_name, ' ',d.last_name) as doctor_name  

d.specialt  
,
year(a.admission_date) as selected_ye  
r,
count(a.admission_date) as total_admiss  
ons
from admissi  
ns a
join doc  
ors d
on a.attending_doctor_id = d.do  
tor_id
group by d.doctor_id, selected_year